@model Employee

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" class="form-control" />
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Gneder"></label>
    <input asp-for="Gneder" class="form-control" />
    <span asp-validation-for="Gneder" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="form-group">
    <input asp-for="IsActive" class="form-check-input" />
    <label class="col-form-label" asp-for="IsActive"></label>

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="CreationDate"></label>
    <input asp-for="CreationDate" class="form-control" />


</div>